## R Prep Minicourse
### Week 10: Control Flow (Ifs and Loops)

**Credits:** [Datacamp's Intermediate R Course](https://www.datacamp.com/courses/intermediate-r)

To be TRUE or not be TRUE, that's the question. We'll focus on learning about relational operators to see how R objects compare and logical operators to combine logicals. Next, you'll use this knowledge to build conditional statements.

Operators: `==`, `!=`

In [1]:
# Comparison of logicals
TRUE == FALSE

# Comparison of numerics
-6 * 14 != 17 - 101

# Comparison of character strings
"useR" == "user"

# Compare a logical with a numeric
TRUE == 1

Operators: `>`, `<`, `>=`, `<=`

In [3]:
# Comparison of numerics
-6 * 5 + 2 >= -10 + 1

"a" < "b"

# Comparison of character strings
"raining" <= "raining dogs"

# Comparison of logicals
TRUE > FALSE

Imagine we had information on how many people visited our linkedin and facebook profiles in a given week.

In [4]:
# Initiliaze the linkedin and facebook vectors
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15

# Quiet days
linkedin <= 5

# LinkedIn more popular than Facebook
linkedin > facebook

In [5]:
# What about matrices?
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)
rownames(views) <- c("linkedin", "facebook")
views


# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

linkedin,16,9,13,5,2,17,14
facebook,17,7,5,16,8,13,14

linkedin,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
facebook,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE

linkedin,FALSE,TRUE,TRUE,TRUE,TRUE,FALSE,TRUE
facebook,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE

Operators: `|` (or), `%` (and)

In [6]:
last <- tail(linkedin, 1)

# Is last under 5 or above 10?
last < 5 | last > 10 # False | True = True

# Is last between 15 (exclusive) and 20 (inclusive)?
last > 15 & last <= 20 # FAlse & True = False

In [7]:
# linkedin exceeds 10 but facebook below 10
linkedin > 10
facebook < 10
linkedin > 10 & facebook < 10

# When were one or both visited at least 12 times?
linkedin >= 12 | facebook >= 12

# When is views between 11 (exclusive) and 14 (inclusive)?
views > 11 & views <= 14

linkedin,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE
facebook,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE

Operator: `!` (not)

In [8]:
!TRUE
!(5 > 3)
!!FALSE

x <- 5
y <- 7
!(!(x < 4) & !!!(y > 12))

### If statement

The basic syntax:

```
if (condition) {
  expr
}
```

In [9]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Examine the if statement for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
}

# Write the if statement for num_views
if (num_views > 15) {
  print("You're popular!")
}

[1] "Showing LinkedIn information"

```
if (condition) {
  expr1
} else {
  expr2
}
```

In [10]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else {
  print("Unknown medium")
}

# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else {
  print("Try to be more visible!")
}

[1] "Showing LinkedIn information"
[1] "Try to be more visible!"

```
if (condition1) {
  expr1
} else if (condition2) {
  expr2
} else if (condition3) {
  expr3
} else {
  expr4
}
```

In [11]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else if (medium == "Facebook") {
  # Add code to print correct string when condition is TRUE
  print("Showing Facebook information")
} else {
  print("Unknown medium")
}

# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else if (num_views <= 15 & num_views > 10) {
  # Add code to print correct string when condition is TRUE
  print("Your number of views is average")
} else {
  print("Try to be more visible!")
}

[1] "Showing LinkedIn information"
[1] "Your number of views is average"

In [12]:
if (num_views > 15) print("You're popular!")

### While loop

The loop continues to be run until the conditions becomes false. If the condition is never false, the loop runs infinitely!

```
while (condition) {
  expr
}
```

In [13]:
# Initialize the speed variable
speed <- 64

# Code the while loop
while (speed > 30) {
  print("Slow down!")
  speed <- speed - 7
}

# Print out the speed variable
speed

[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"

In [14]:
# Initialize the speed variable
speed <- 64

# Extend/adapt the while loop
while (speed > 30) {
  print(paste("Your speed is",speed))
  if (speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

# Print out the speed variable
speed

[1] "Your speed is 64"
[1] "Slow down big time!"
[1] "Your speed is 53"
[1] "Slow down big time!"
[1] "Your speed is 42"
[1] "Slow down!"
[1] "Your speed is 36"
[1] "Slow down!"

In [17]:
# Initialize the speed variable
speed <- 85

while (speed > 30) {
  print(paste("Your speed is", speed))
  
  # Break the while loop when speed exceeds 80
  if (speed < 80) {
    break
  }
  
  if (speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

[1] "Your speed is 85"
[1] "Slow down big time!"
[1] "Your speed is 74"

### For loop

In a for loop, you iterate over the contents of a vector.

```
primes <- c(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes) {
  print(p)
}

# loop version 2
for (i in 1:length(primes)) {
  print(primes[i])
}
```

In [20]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Loop version 1
for (views in linkedin) {
  print(views)
}

# Loop version 2
for (i in 1:length(linkedin)) {
  print(linkedin[i])
  
}

[1] 16
[1] 9
[1] 13
[1] 5
[1] 2
[1] 17
[1] 14
[1] 16
[1] 9
[1] 13
[1] 5
[1] 2
[1] 17
[1] 14

You can also iterate over the contents of a list.

```
primes_list <- list(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes_list) {
  print(p)
}

# loop version 2
for (i in 1:length(primes_list)) {
  print(primes_list[[i]])
}
```

In [21]:
primes_list <- list(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes_list) {
  print(p)
}

# loop version 2
for (i in 1:length(primes_list)) {
  print(primes_list[[i]])
}

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13
[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13

You iterate over the contents of a matrix too, but you have to use two nested for loops. Generally, you can iterate over any n-dimensional data structure with n nested for loops.

```
for (var1 in seq1) {
  for (var2 in seq2) {
    expr
  }
}
```

In [22]:
ttt <- matrix(c("O", NA, "X", NA, "O", "O", "X", NA, "X"), byrow=FALSE, nrow=3)

ttt

# define the double for loop
for (i in 1:nrow(ttt)) {
  for (j in 1:ncol(ttt)) {
    print(paste("On row", i, "and column", j, "the board contains", ttt[i,j]))
  }
}

O,NA,X
NA,O,NA
X,O,X

[1] "On row 1 and column 1 the board contains O"
[1] "On row 1 and column 2 the board contains NA"
[1] "On row 1 and column 3 the board contains X"
[1] "On row 2 and column 1 the board contains NA"
[1] "On row 2 and column 2 the board contains O"
[1] "On row 2 and column 3 the board contains NA"
[1] "On row 3 and column 1 the board contains X"
[1] "On row 3 and column 2 the board contains O"
[1] "On row 3 and column 3 the board contains X"

In [23]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Code the for loop with conditionals
for (li in linkedin) {
  if (li > 10) {
    print("You're popular!")
  } else {
    print("Be more visible!")
  }
  print(li)
}

[1] "You're popular!"
[1] 16
[1] "Be more visible!"
[1] 9
[1] "You're popular!"
[1] 13
[1] "Be more visible!"
[1] 5
[1] "Be more visible!"
[1] 2
[1] "You're popular!"
[1] 17
[1] "You're popular!"
[1] 14

In [24]:
# Pre-defined variables
rquote <- "r's internals are irrefutably intriguing"
chars <- strsplit(rquote, split = "")[[1]] # This splits the string into each of its characters

# Initialize rcount
rcount <- 0

# Finish the for loop
for (char in chars) {
  if (char == "r") {
    rcount <- rcount + 1
  }
  if (char == "u") {
    break
  }
  
}

# Print out rcount
print(rcount)

[1] 5